<!-- extend base template -->
{% extends 'index.html' %}
<!-- extend base template -->

<!-- load static -->
{% load static %}
<!-- load static -->

<!-- load humanize -->
{% load humanize %}
<!-- load humanize -->

<!-- Document begins -->
<!-- title -->

<!-- extend block -->
{% block title %} Cart {% endblock %}
<!-- extend block -->

<!-- title -->

<!-- body -->

<!-- extend block -->

{% block body %}

<!-- shop navigation -->
<div class="shop-nav">
  <div class="container shop-nav-container">
    <!-- breadcrumbs -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb fs-6">
        <li class="breadcrumb-item">
          <a href="{% url 'home-page' %}">Home</a>
        </li>
        <li class="breadcrumb-item active text-gray" aria-current="page">
          Cart
        </li>
      </ol>
    </nav>
    <!-- breadcrumbs -->

    <!-- include filter buttons -->
    {% include 'filter_buttons.html' %}
    <!-- include filter buttons -->
  </div>

  <hr class="divider" />
</div>
<!-- shop navigation -->

<!-- cart container -->
<div class="container d-flex justify-content-between">
  <!-- table -->
  <div class="card text-bg-light table-card mt-3 me-3">
    <table class="table table-hover table-striped">
      <caption>
        <button class="btn btn-sm btn-danger ms-3 mt-3 me-3">
          <i class="bi bi-cart-x"></i> Clear cart
        </button>
      </caption>
      <thead>
        <tr>
          <th class="text-center" scope="col">Product</th>
          <th class="text-center" scope="col">Quantity</th>
          <th class="text-center" scope="col">Price</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <!-- for -->
        {% for item in cart %}
        <!-- for -->

        <!-- include cart_item.html -->
        {% include 'cart/cart_item.html' %}
        <!-- include cart_item.html -->

        <!-- endfor -->
        {% endfor %}
        <!-- endfor -->
      </tbody>
    </table>
  </div>
  <!-- table -->

  <!-- cart summary -->
  <ul class="list-group mt-3 ms-3">
    <li class="list-group-item">
      <strong>Summary</strong>
    </li>
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <strong>Total:</strong>
      <span
        hx-get="{% url 'hx-cart-total' %}"
        hx-trigger="update-cart-menu from:body"
        hx-swap="innerHTML"
      >
        <!-- include cart_total.html -->
        {% include 'cart/cart_total.html' %}
        <!-- include cart_total.html -->
      </span>
    </li>

    <!-- if -->
    {% if cart %}
    <!-- if -->

    <li class="list-group-item">
      <a
        href="{% url 'checkout' %}"
        class="btn btn-sm btn-success container-fluid"
        ><i class="bi bi-cart-check"></i> Checkout</a
      >
    </li>

    <!-- else -->
    {% else %}
    <!-- else -->

    <li class="list-group-item">
      <a
        href="{% url 'checkout' %}"
        class="btn btn-sm btn-success container-fluid disabled"
        ><i class="bi bi-cart-check"></i> Checkout</a
      >
    </li>

    <!-- endif -->
    {% endif %}
    <!-- endif -->
  </ul>
  <!-- cart summary -->
</div>
<!-- cart container -->

<br />

{% endblock %}

<!-- extend block -->

<!-- body -->
<!-- Document ends -->
