<!-- extend base template -->
{% extends 'index.html' %}
<!-- extend base template -->

<!-- load static -->
{% load static %}
<!-- load static -->

<!-- Document begins -->
<!-- title -->

<!-- extend block -->
{% block title %} Home {% endblock %}
<!-- extend block -->

<!-- title -->

<!-- body -->

<!-- extend block -->

{% block body %}

<!-- home page banner -->
<div class="banner">
  <div class="container">
    <div class="banner-text">
      <h1 class="text-light">Best products and brands in our store</h1>
      <br />
      <h4 class="text-light">
        Legit Products, Factory Prices, Excellent Service
      </h4>
      <br />
      <div class="banner-buttons">
        <a href="{% url 'all-products' %}" class="btn btn-dark me-3"
          ><i class="bi bi-cart"></i> Start shopping</a
        >
        <a
          href="https://vigilsurveillance.netlify.app/"
          class="btn btn-dark me-3"
          ><i class="bi bi-signpost-split"></i> Go to main site</a
        >
      </div>
    </div>
  </div>
</div>
<!-- home page banner -->

{% endblock %}

<!-- extend block -->

<!-- body -->
<!-- Document ends -->
