<!-- extend base template -->
{% extends 'index.html' %}
<!-- extend base template -->

<!-- load static -->
{% load static %}
<!-- load static -->

<!-- Document begins -->
<!-- title -->

<!-- extend block -->
{% block title %} Home {% endblock %}
<!-- extend block -->

<!-- title -->

<!-- body -->

<!-- extend block -->

{% block body %}

<!-- home page banner -->
<div class="banner">
  <div class="container-fluid">
    <div class="banner-text">
      <h1 class="text-light">Best products and brands in our store</h1>
      <br />
      <h4 class="text-light">
        Legit Products, Factory Prices, Excellent Service
      </h4>
      <br />
      <div class="banner-buttons">
        <a href="#" class="btn btn-dark me-3"
          ><i class="bi bi-cart-fill"></i> Start shopping</a
        >
        <a href="#" class="btn btn-dark me-3"
          ><i class="bi bi-door-open-fill"></i> Go to main site</a
        >
      </div>
    </div>
  </div>
</div>
<!-- home page banner -->

<!-- all products -->
<div class="container">
  <!-- shop navigation -->
  <div class="shop-nav">
    <!-- breadcrumbs -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
      </ol>
    </nav>
    <!-- breadcrumbs -->

    <!-- filters -->
    <div class="filter-buttons"></div>
    <!-- filters -->
  </div>
  <!-- shop navigation -->
</div>
<!-- all products -->

{% endblock %}

<!-- extend block -->

<!-- body -->
<!-- Document ends -->
