<!-- extend base template -->
{% extends 'index.html' %}
<!-- extend base template -->

<!-- load static -->
{% load static %}
<!-- load static -->

<!-- Document begins -->
<!-- title -->

<!-- extend block -->
{% block title %} Success {% endblock %}
<!-- extend block -->

<!-- title -->

<!-- body -->

<!-- extend block -->

{% block body %}

<!-- success page banner -->
<div class="subscribe-success">
  <div class="container">
    <div
      class="alert alert-success no-product-alert container-fluid"
      role="alert"
    >
      <h1 class="text-center">
        You have successfully subscribed to our newsletter. Check your email for
        more details, tips and news.
      </h1>
      <hr />
      <p class="text-center text-muted">
        We send newsletters on the first fridays of every month.
      </p>
    </div>
  </div>
</div>
<!-- home page banner -->

{% endblock %}

<!-- extend block -->

<!-- body -->
<!-- Document ends -->
