<!-- load static -->
{% load static %}
<!-- load static -->

<!-- Document begins -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- custom additions -->

    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <!-- bootstrap -->

    <!-- jquery -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <!-- jquery -->

    <!-- animate.css -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <!-- animate.css -->

    <!-- my css -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/imports.css' %}" />
    <!-- my css -->

    <!-- custom additions -->

    <!-- site title -->
    <title>Vigil | {% block title %} Home {% endblock %}</title>
    <!-- site title -->
  </head>
  <body id="top">
    <!-- navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand fs-5" href="{% url 'home-page' %}">Vigil Shop</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-light" href="#"
                ><i class="bi bi-box-arrow-in-right"></i> Sign in</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#"
                ><i class="bi bi-gear"></i> Dashboard</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#"
                ><i class="bi bi-cart-check"></i> Cart
                <span class="badge text-bg-warning">4</span></a
              >
            </li>
          </ul>
          <form
            class="d-flex"
            role="search"
            method="GET"
            action="{% url 'query-product' %}"
          >
            <!-- csrf & form -->
            {% csrf_token %}
            <!-- csrf & form -->

            <div class="input-group">
              <input
                class="form-control"
                type="search"
                name="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn btn-warning" type="submit">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </nav>
    <!-- navigation -->

    <!-- body -->

    <div class="main-body">
      <!-- template entry -->
      {% block body %}
      <!--  -->
      {% endblock %}
      <!-- template entry -->
    </div>

    <!-- body -->

    <!-- footer -->

    <!-- contacts -->
    <nav class="navbar navbar-expand-lg bg-secondary text-light">
      <div class="container contacts">
        <div class="d-flex align-items-center">
          <a href="tel:+254 725 131 828" class="text-light me-3"
            ><i class="bi bi-telephone"></i> +254 725 131 828</a
          >
          <a href="mailto:kitakayaloisa@gmail.com" class="text-light me-3"
            ><i class="bi bi-envelope"></i> kitakayaloisa@gmail.com</a
          >
        </div>
        <div class="d-flex align-items-center">
          <a href="https://twitter.com/FreedomLoisa" class="text-light ms-3"
            ><i class="bi bi-twitter"></i
          ></a>
          <a href="https://wa.me/254725131828" class="text-light ms-3"
            ><i class="bi bi-whatsapp"></i
          ></a>
        </div>
      </div>
    </nav>
    <!-- contacts -->

    <!-- main footer -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container footer text-light">
        <div class="footer-item">
          <h4>Store</h4>
          <a href="#" class="text-light nav-link">About us</a>
          <a href="#" class="text-light nav-link">Find store</a>
          <a href="#" class="text-light nav-link">How to shop</a>
          <a href="#" class="text-light nav-link">Company site</a>
        </div>
        <div class="footer-item">
          <h4>Support</h4>
          <a href="#" class="text-light nav-link">Payment</a>
          <a href="#" class="text-light nav-link">Help center</a>
          <a href="#" class="text-light nav-link">Report a product</a>
          <a href="#" class="text-light nav-link">Returns and refunds</a>
        </div>
        <div class="footer-item">
          <h4>Information</h4>
          <a href="#" class="text-light nav-link">Shipping info</a>
          <a href="#" class="text-light nav-link">Privacy policy</a>
          <a href="#" class="text-light nav-link">Terms and conditions</a>
          <a href="#" class="text-light nav-link"
            >Corporate and bulk purchase</a
          >
        </div>
        <div class="footer-item">
          <h4>Newsletter</h4>
          <p>Subscribe to get updates about our products and offers</p>
          <form
            class="d-flex"
            role="search"
            method="POST"
            action="{% url 'subscribe' %}"
          >
            <!-- csrf & form -->
            {% csrf_token %}
            <!-- csrf & form -->

            <div class="input-group">
              <input
                class="form-control"
                type="email"
                name="newsletter"
                placeholder="e.g. myemail@example.com"
                aria-label="Email"
              />
              <button class="btn btn-warning" type="submit">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
    </nav>
    <!-- main footer -->

    <!-- copyright -->
    <nav class="navbar navbar-expand-lg bg-secondary text-light">
      <div class="container d-flex align-items-center">
        <div class="copyright">
          <a href="https://vigilsurveillance.netlify.app/" class="text-light"
            ><i class="bi bi-c-circle"></i> Copyright 2022 Vigil Surveillance</a
          >
        </div>
        <div class="copyright">
          <a href="https://freedomloisa.netlify.app/" class="text-light"
            ><i class="bi bi-code"></i> Developed by Freedom Loisa
            <i class="bi bi-code-slash"></i
          ></a>
        </div>
      </div>
    </nav>
    <!-- copyright -->

    <!-- footer -->

    <!-- include notifications -->
    {% include 'notifications.html' %}
    <!-- include notifications -->

    <!-- back to top -->
    <a href="#top" id="back-top"
      ><i class="bi bi-arrow-up-square-fill fs-3 text-secondary"></i
    ></a>
    <!-- back to top -->
  </body>
  <!-- custom js scripts -->
  <script src="{% static 'js/main.js' %}"></script>
  <!-- custom js scripts -->
</html>
<!-- Document ends -->
