<!-- extend base template -->
{% extends 'index.html' %}
<!-- extend base template -->

<!-- load static -->
{% load static %}
<!-- load static -->

<!-- load humanize -->
{% load humanize %}
<!-- load humanize -->

<!-- Document begins -->
<!-- title -->

<!-- extend block -->
{% block title %} All Products {% endblock %}
<!-- extend block -->

<!-- title -->

<!-- body -->

<!-- extend block -->

{% block body %}

<!-- shop navigation -->
<div class="shop-nav">
  <div class="container shop-nav-container">
    <!-- breadcrumbs -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb fs-6">
        <li class="breadcrumb-item">
          <a href="{% url 'home-page' %}">Home</a>
        </li>
        <li class="breadcrumb-item active text-gray" aria-current="page">
          All products
        </li>
      </ol>
    </nav>
    <!-- breadcrumbs -->

    <!-- include filter buttons -->
    {% include 'filter_buttons.html' %}
    <!-- include filter buttons -->
  </div>

  <hr class="divider" />
</div>
<!-- shop navigation -->

<!-- all products -->
<div class="container products-container">
  <!-- products -->

  <!-- if -->
  {% if all_products %}
  <!-- if -->

  <!-- for -->
  {% for product in all_products %}
  <!-- for -->

  <div class="card mb-3 mt-3">
    <img
      class="card-img-top"
      src="{{ product.thumbnail.url }}"
      alt="{{ product.product_name }}"
    />
    <div class="card-body">
      <h5 class="card-title ms-1">{{ product.product_name }}</h5>
      <p class="card-text ms-1">
        <strong>KES {{ product.price | intcomma }}</strong>
      </p>
      <a href="#" class="btn btn-sm btn-dark container-fluid">View product</a>
    </div>
  </div>

  <!-- endfor -->
  {% endfor %}
  <!-- endfor -->

  <!-- else -->
  {% else %}
  <!-- else -->

  <div class="alert alert-warning no-product-alert" role="alert">
    <h1 class="text-center">No products in inventory.</h1>
  </div>

  <!-- endif -->
  {% endif %}
  <!-- endif -->

  <!-- products -->
</div>
<!-- all products -->

{% endblock %}

<!-- extend block -->

<!-- body -->
<!-- Document ends -->
